In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

print("Imports done ✅")

Imports done ✅

In [2]:
# Load all CSVs

df_accounts = pd.read_csv("ravenstack_accounts.csv")
df_subs = pd.read_csv("ravenstack_subscriptions.csv")
df_usage = pd.read_csv("ravenstack_feature_usage.csv")
df_tickets = pd.read_csv("ravenstack_support_tickets.csv")
df_churn = pd.read_csv("ravenstack_churn_events.csv")

print("Shapes:")
print("Accounts      :", df_accounts.shape)
print("Subscriptions :", df_subs.shape)
print("Usage         :", df_usage.shape)
print("Tickets       :", df_tickets.shape)
print("Churn events  :", df_churn.shape)

Shapes:
Accounts      : (500, 10)
Subscriptions : (5000, 14)
Usage         : (25000, 8)
Tickets       : (2000, 9)
Churn events  : (600, 9)

In [3]:
print("ACCOUNTS:")
display(df_accounts.head(5))

print("\nSUBSCRIPTIONS:")
display(df_subs.head(5))

print("\nUSAGE:")
display(df_usage.head(5))

print("\nSUPPORT TICKETS:")
display(df_tickets.head(5))

print("\nCHURN EVENTS:")
display(df_churn.head(5))

ACCOUNTS:

  account_id account_name    industry country signup_date referral_source   plan_tier  seats  is_trial  churn_flag
0   A-2e4581    Company_0      EdTech      US  2024-10-16         partner       Basic      9     False       False
1   A-43a9e3    Company_1     FinTech      IN  2023-08-17           other       Basic     18     False        True
2   A-0a282f    Company_2    DevTools      US  2024-08-27         organic       Basic      1     False       False
3   A-1f0ac7    Company_3  HealthTech      UK  2023-08-27           other       Basic     24      True       False
4   A-ce550d    Company_4  HealthTech      US  2024-10-27           event  Enterprise     35     False        True

SUBSCRIPTIONS:

  subscription_id account_id  start_date    end_date   plan_tier  seats  mrr_amount  arr_amount  is_trial  upgrade_flag  downgrade_flag  churn_flag billing_frequency  auto_renew_flag
0        S-8cec59   A-3c1a3f  2023-12-23  2024-04-12  Enterprise     14        2786       33432     False         False           False        True           monthly             True
1        S-0f6f44   A-9b9fe9  2024-06-11         NaN         Pro     17         833        9996     False         False           False       False           monthly             True
2        S-51c0d1   A-659280  2024-11-25         NaN  Enterprise     62           0           0      True          True           False       False            annual            False
3        S-f81687   A-e7a1e2  2024-11-23  2024-12-13  Enterprise      5         995       11940     False         False           False        True           monthly             True
4        S-cff5a2   A-ba6516  2024-01-10         NaN  Enterprise     27        5373       64476     False         False           False       False           monthly             True

USAGE:

   usage_id subscription_id  usage_date feature_name  usage_count  usage_duration_secs  error_count  is_beta_feature
0  U-1c6c24        S-0fcf7d  2023-07-27   feature_20            9                 5004            0            False
1  U-f07cb8        S-c25263  2023-08-07    feature_5            9                  369            0            False
2  U-096807        S-f29e7f  2023-12-07    feature_3            9                 1458            0            False
3  U-6b1580        S-be655e  2024-07-28   feature_40            5                 2085            0            False
4  U-720a29        S-f9b1d0  2024-12-02   feature_12           12                  900            0            False

SUPPORT TICKETS:

  ticket_id account_id submitted_at            closed_at  resolution_time_hours priority  first_response_time_minutes  satisfaction_score  escalation_flag
0  T-0024de   A-712f1c   2023-07-27  2023-07-28 03:00:00                   27.0     high                           74                 NaN            False
1  T-4d04b9   A-e43bf7   2024-07-08  2024-07-09 03:00:00                   27.0   urgent                          144                 NaN            False
2  T-d5e12f   A-0f3e88   2024-10-17  2024-10-17 19:00:00                   19.0   urgent                           93                 4.0            False
3  T-dfce9a   A-4c56c9   2024-09-08  2024-09-09 23:00:00                   47.0   medium                          126                 5.0            False
4  T-c59f77   A-6f8ad2   2024-11-30  2024-12-01 02:00:00                   26.0   medium                            8                 NaN            False

CHURN EVENTS:

  churn_event_id account_id  churn_date reason_code  refund_amount_usd  preceding_upgrade_flag  preceding_downgrade_flag  is_reactivation           feedback_text
0       C-816288   A-c37cab  2024-10-27     pricing               4.03                   False                     False            False  switched to competitor
1       C-5a81e7   A-37f969  2024-06-25     support              96.45                    True                     False            False                     NaN
2       C-a174be   A-b07346  2024-11-12      budget               0.00                   False                     False            False        missing features
3       C-accb39   A-1e50e0  2023-11-01      budget              54.94                   False                     False            False  switched to competitor
4       C-92f889   A-956988  2024-12-30     unknown               0.00                   False                      True             True           too expensive

In [4]:
df_churn.head()

  churn_event_id account_id  churn_date reason_code  refund_amount_usd  preceding_upgrade_flag  preceding_downgrade_flag  is_reactivation           feedback_text
0       C-816288   A-c37cab  2024-10-27     pricing               4.03                   False                     False            False  switched to competitor
1       C-5a81e7   A-37f969  2024-06-25     support              96.45                    True                     False            False                     NaN
2       C-a174be   A-b07346  2024-11-12      budget               0.00                   False                     False            False        missing features
3       C-accb39   A-1e50e0  2023-11-01      budget              54.94                   False                     False            False  switched to competitor
4       C-92f889   A-956988  2024-12-30     unknown               0.00                   False                      True             True           too expensive

In [5]:
# Create churn flag (1 = churned, 0 = not churned)
churned_accounts = df_churn['account_id'].unique()

df_accounts['churn_flag_final'] = df_accounts['account_id'].isin(churned_accounts).astype(int)

df_accounts[['account_id', 'churn_flag', 'churn_flag_final']].head()

  account_id  churn_flag  churn_flag_final
0   A-2e4581       False                 1
1   A-43a9e3        True                 0
2   A-0a282f       False                 1
3   A-1f0ac7       False                 1
4   A-ce550d        True                 1

In [6]:
print("Unique accounts in ACCOUNTS :", df_accounts['account_id'].nunique())
print("Unique accounts in SUBS     :", df_subs['account_id'].nunique())
print("Unique accounts in USAGE    :", df_usage['subscription_id'].nunique())
print("Unique accounts in TICKETS  :", df_tickets['account_id'].nunique())
print("Unique accounts in CHURN    :", df_churn['account_id'].nunique())

Unique accounts in ACCOUNTS : 500
Unique accounts in SUBS     : 500
Unique accounts in USAGE    : 4967
Unique accounts in TICKETS  : 492
Unique accounts in CHURN    : 352

In [7]:
df_accounts['churn'] = df_accounts['churn_flag'].astype(int)
df_accounts.drop(columns=['churn_flag'], inplace=True)

In [8]:
# Merge accounts with subscriptions
df_acc_subs = df_accounts.merge(df_subs, on="account_id", how="left")

df_acc_subs.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier_x,seats_x,is_trial_x,churn_flag_final,churn,subscription_id,start_date,end_date,plan_tier_y,seats_y,mrr_amount,arr_amount,is_trial_y,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,auto_renew_flag
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,S-faa8ec,2024-12-09,NaN,Basic,11,209,2508,False,False,False,False,monthly,True
1,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,S-b78829,2024-11-12,NaN,Pro,20,980,11760,False,False,False,False,monthly,True
2,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,S-7ce677,2024-10-20,NaN,Pro,9,441,5292,False,False,False,False,monthly,True
3,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,S-34a131,2024-11-29,NaN,Enterprise,9,1791,21492,False,False,False,False,annual,False
4,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,S-1e349b,2024-11-13,NaN,Basic,102,1938,23256,False,False,False,False,monthly,True

In [9]:
# Keep only important subscription columns
df_subs_clean = df_subs[[
    "subscription_id",
    "account_id",
    "start_date",
    "end_date",
    "plan_tier",
    "seats",
    "mrr_amount",
    "arr_amount",
    "upgrade_flag",
    "downgrade_flag",
    "auto_renew_flag",
    "billing_frequency"
]]

In [10]:
# 1) Count total subscriptions
subs_agg = df_subs_clean.groupby("account_id").agg({
    "subscription_id": "count",
    "plan_tier": "last",   # latest plan tier
    "seats": "max",        # max seats purchased
    "mrr_amount": "last",  # most recent MRR
    "arr_amount": "last",  # most recent ARR
    "upgrade_flag": "sum",
    "downgrade_flag": "sum",
    "auto_renew_flag": "sum"
}).reset_index()

# Rename columns
subs_agg.rename(columns={
    "subscription_id": "total_subscriptions",
    "plan_tier": "latest_plan_tier",
    "seats": "max_seats",
    "mrr_amount": "current_mrr",
    "arr_amount": "current_arr",
    "upgrade_flag": "total_upgrades",
    "downgrade_flag": "total_downgrades",
    "auto_renew_flag": "auto_renew_count"
}, inplace=True)

subs_agg.head()

  account_id  total_subscriptions latest_plan_tier  max_seats  current_mrr  current_arr  total_upgrades  total_downgrades  auto_renew_count
0   A-00bed1                   10              Pro         61         1372        16464               3                 0                 9
1   A-00cac8                    9              Pro         39          392         4704               0                 1                 8
2   A-0158bb                    6            Basic         45          665         7980               1                 0                 5
3   A-016043                   11       Enterprise         59         3980        47760               3                 0                 6
4   A-019782                    9            Basic         17            0            0               1                 0                 6

In [11]:
df_master = df_accounts.merge(subs_agg, on="account_id", how="left")

df_master.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag_final,churn,total_subscriptions,latest_plan_tier,max_seats,current_mrr,current_arr,total_upgrades,total_downgrades,auto_renew_count
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,10,Enterprise,102,5771,69252,1,0,8
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,0,1,8,Pro,28,882,10584,3,0,6
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,1,0,15,Pro,60,98,1176,1,1,15
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,1,0,7,Basic,47,646,7752,2,0,5
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,1,1,9,Pro,109,1715,20580,2,0,6

In [12]:
df_usage_acc = df_usage.merge(df_subs[['subscription_id','account_id']], 
                              on="subscription_id", how="left")

df_usage_acc.head()

   usage_id subscription_id  usage_date feature_name  usage_count  usage_duration_secs  error_count  is_beta_feature account_id
0  U-1c6c24        S-0fcf7d  2023-07-27   feature_20            9                 5004            0            False   A-e08cd3
1  U-f07cb8        S-c25263  2023-08-07    feature_5            9                  369            0            False   A-c7ffc2
2  U-096807        S-f29e7f  2023-12-07    feature_3            9                 1458            0            False   A-bbe56f
3  U-6b1580        S-be655e  2024-07-28   feature_40            5                 2085            0            False   A-7f29a7
4  U-720a29        S-f9b1d0  2024-12-02   feature_12           12                  900            0            False   A-65a46c

In [13]:
usage_agg = df_usage_acc.groupby("account_id").agg({
    "usage_count": "sum",
    "usage_duration_secs": "sum",
    "feature_name": "nunique",   # number of unique features used
    "error_count": "sum"
}).reset_index()

usage_agg.rename(columns={
    "usage_count": "total_usage_count",
    "usage_duration_secs": "total_usage_seconds",
    "feature_name": "unique_features_used",
    "error_count": "total_errors"
}, inplace=True)

usage_agg.head()

  account_id  total_usage_count  total_usage_seconds  unique_features_used  total_errors
0   A-00bed1                514               143734                    32            27
1   A-00cac8                602               171366                    30            31
2   A-0158bb                364               122051                    19            22
3   A-016043                490               132075                    26            21
4   A-019782                562               160848                    28            30

In [14]:
df_master = df_master.merge(usage_agg, on="account_id", how="left")

df_master.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag_final,churn,total_subscriptions,latest_plan_tier,max_seats,current_mrr,current_arr,total_upgrades,total_downgrades,auto_renew_count,total_usage_count,total_usage_seconds,unique_features_used,total_errors
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,10,Enterprise,102,5771,69252,1,0,8,535,152339,27,38
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,0,1,8,Pro,28,882,10584,3,0,6,355,101136,23,14
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,1,0,15,Pro,60,98,1176,1,1,15,821,251210,34,48
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,1,0,7,Basic,47,646,7752,2,0,5,382,102528,26,21
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,1,1,9,Pro,109,1715,20580,2,0,6,579,215779,32,31

In [16]:
df_tickets.columns

Index(['ticket_id', 'account_id', 'submitted_at', 'closed_at', 'resolution_time_hours', 'priority', 'first_response_time_minutes', 'satisfaction_score', 'escalation_flag'], dtype='object')

In [17]:
# Convert dates
df_tickets['submitted_at'] = pd.to_datetime(df_tickets['submitted_at'])
df_tickets['closed_at'] = pd.to_datetime(df_tickets['closed_at'])

# Aggregate support features per account
tickets_agg = df_tickets.groupby("account_id").agg({
    "ticket_id": "count",
    "resolution_time_hours": "mean",
    "first_response_time_minutes": "mean",
    "satisfaction_score": "mean",
    "escalation_flag": "sum"
}).reset_index()

# Rename columns
tickets_agg.rename(columns={
    "ticket_id": "total_tickets",
    "resolution_time_hours": "avg_resolution_hours",
    "first_response_time_minutes": "avg_first_response_minutes",
    "satisfaction_score": "avg_satisfaction_score",
    "escalation_flag": "total_escalations"
}, inplace=True)

tickets_agg.head()

  account_id  total_tickets  avg_resolution_hours  avg_first_response_minutes  avg_satisfaction_score  total_escalations
0   A-00bed1              4             31.750000                      106.25                     4.0                  0
1   A-00cac8              2             33.000000                      120.50                     NaN                  0
2   A-0158bb              1             32.000000                       50.00                     3.0                  0
3   A-016043              3             30.333333                       78.00                     4.0                  0
4   A-019782              2             10.000000                      107.00                     3.0                  0

In [18]:
df_master = df_master.merge(tickets_agg, on="account_id", how="left")
df_master.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag_final,churn,total_subscriptions,latest_plan_tier,max_seats,current_mrr,current_arr,total_upgrades,total_downgrades,auto_renew_count,total_usage_count,total_usage_seconds,unique_features_used,total_errors,total_tickets,avg_resolution_hours,avg_first_response_minutes,avg_satisfaction_score,total_escalations
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,1,0,10,Enterprise,102,5771,69252,1,0,8,535,152339,27,38,2.0,23.000000,91.000000,3.000000,0.0
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,0,1,8,Pro,28,882,10584,3,0,6,355,101136,23,14,3.0,38.000000,73.333333,4.000000,0.0
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,1,0,15,Pro,60,98,1176,1,1,15,821,251210,34,48,3.0,43.666667,63.666667,4.666667,0.0
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,1,0,7,Basic,47,646,7752,2,0,5,382,102528,26,21,2.0,29.000000,174.000000,NaN,0.0
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,1,1,9,Pro,109,1715,20580,2,0,6,579,215779,32,31,7.0,42.285714,107.857143,3.800000,1.0

In [19]:
df_master.shape

(500, 28)

In [20]:
df = df_master.copy()

In [21]:
df.drop(columns=[
    "account_id",
    "account_name",
    "signup_date"
], inplace=True, errors="ignore")

In [22]:
bool_cols = df.select_dtypes(include=["bool"]).columns

for col in bool_cols:
    df[col] = df[col].astype(int)

bool_cols

Index(['is_trial'], dtype='object')

In [23]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   industry                    500 non-null    object
 1   country                     500 non-null    object
 2   referral_source             500 non-null    object
 3   plan_tier                   500 non-null    object
 4   seats                       500 non-null    int64
 5   is_trial                    500 non-null    int32
 6   churn_flag_final            500 non-null    int32
 7   churn                       500 non-null    int32
 8   total_subscriptions         500 non-null    int64
 9   latest_plan_tier            500 non-null    object
 10  max_seats                   500 non-null    int64
 11  current_mrr                 500 non-null    int64
 12  current_arr                 500 non-null    int64
 13  total_upgrades              500 non-null    int64
 14  total_downgrades            500 non-null    int64
 15  auto_renew_count            500 non-null    int64
 16  total_usage_count           500 non-null    int64
 17  total_usage_seconds         500 non-null    int64
 18  unique_features_used        500 non-null    int64
 19  total_errors                500 non-null    int64
 20  total_tickets               492 non-null    float64
 21  avg_resolution_hours        492 non-null    float64
 22  avg_first_response_minutes  492 non-null    float64
 23  avg_satisfaction_score      466 non-null    float64
 24  total_escalations           492 non-null    float64
dtypes: float64(5), int32(3), int64(12), object(5)
memory usage: 91.9+ KB

,industry,country,referral_source,plan_tier,seats,is_trial,churn_flag_final,churn,total_subscriptions,latest_plan_tier,max_seats,current_mrr,current_arr,total_upgrades,total_downgrades,auto_renew_count,total_usage_count,total_usage_seconds,unique_features_used,total_errors,total_tickets,avg_resolution_hours,avg_first_response_minutes,avg_satisfaction_score,total_escalations
0,EdTech,US,partner,Basic,9,0,1,0,10,Enterprise,102,5771,69252,1,0,8,535,152339,27,38,2.0,23.000000,91.000000,3.000000,0.0
1,FinTech,IN,other,Basic,18,0,0,1,8,Pro,28,882,10584,3,0,6,355,101136,23,14,3.0,38.000000,73.333333,4.000000,0.0
2,DevTools,US,organic,Basic,1,0,1,0,15,Pro,60,98,1176,1,1,15,821,251210,34,48,3.0,43.666667,63.666667,4.666667,0.0
3,HealthTech,UK,other,Basic,24,1,1,0,7,Basic,47,646,7752,2,0,5,382,102528,26,21,2.0,29.000000,174.000000,NaN,0.0
4,HealthTech,US,event,Enterprise,35,0,1,1,9,Pro,109,1715,20580,2,0,6,579,215779,32,31,7.0,42.285714,107.857143,3.800000,1.0

In [24]:
cat_cols = df.select_dtypes(include=["object"]).columns
cat_cols

Index(['industry', 'country', 'referral_source', 'plan_tier', 'latest_plan_tier'], dtype='object')

In [25]:
df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=True)

df_encoded.head()
df_encoded.shape

(500, 38)

In [26]:
X = df_encoded.drop(columns=["churn"])
y = df_encoded["churn"]

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

X_train.shape, X_test.shape

((400, 37), (100, 37))

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=10,
    random_state=42
)

rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88        78
           1       0.00      0.00      0.00        22

    accuracy                           0.78       100
   macro avg       0.39      0.50      0.44       100
weighted avg       0.61      0.78      0.68       100

[[78  0]
 [22  0]]

D:\ANACONDA\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\ANACONDA\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\ANACONDA\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [29]:
rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=10,
    class_weight="balanced",
    random_state=42
)

rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88        78
           1       0.00      0.00      0.00        22

    accuracy                           0.78       100
   macro avg       0.39      0.50      0.44       100
weighted avg       0.61      0.78      0.68       100

[[78  0]
 [22  0]]

D:\ANACONDA\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\ANACONDA\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\ANACONDA\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [30]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in d:\anaconda\lib\site-packages (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in d:\anaconda\lib\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\anaconda\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: joblib>=1.1.1 in d:\anaconda\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)

X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

print("Before SMOTE:", X_train.shape, y_train.value_counts())
print("After SMOTE:", X_train_res.shape, y_train_res.value_counts())

ValueError: Input X contains NaN.
SMOTE does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [32]:
X = X.fillna(0)

In [33]:
df_encoded = df_encoded.fillna(0)
X = df_encoded.drop(columns=["churn"])
y = df_encoded["churn"]

In [34]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)

X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

print("Before SMOTE:", X_train.shape, y_train.value_counts())
print("After SMOTE:", X_train_res.shape, y_train_res.value_counts())

ValueError: Input X contains NaN.
SMOTE does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [35]:
X.isna().sum()[X.isna().sum() > 0]

Series([], dtype: int64)

In [36]:
X_train.isna().sum()[X_train.isna().sum() > 0]

total_tickets                  8
avg_resolution_hours           8
avg_first_response_minutes     8
avg_satisfaction_score        31
total_escalations              8
dtype: int64

In [37]:
cols_with_nan = [
    "total_tickets",
    "avg_resolution_hours",
    "avg_first_response_minutes",
    "avg_satisfaction_score",
    "total_escalations"
]

X_train[cols_with_nan] = X_train[cols_with_nan].fillna(0)
X_test[cols_with_nan] = X_test[cols_with_nan].fillna(0)

In [38]:
X_train.isna().sum()[X_train.isna().sum() > 0]

Series([], dtype: int64)

In [39]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=10,
    random_state=42
)

rf.fit(X_train_res, y_train_res)

y_pred = rf.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.95      0.85        78
           1       0.00      0.00      0.00        22

    accuracy                           0.74       100
   macro avg       0.39      0.47      0.43       100
weighted avg       0.60      0.74      0.66       100

[[74  4]
 [22  0]]

In [41]:
pip install xgboost

Requirement already satisfied: xgboost in d:\anaconda\lib\site-packages (3.1.1)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from xgboost) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [42]:
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix

xgb = XGBClassifier(
    n_estimators=300,
    max_depth=5,
    learning_rate=0.05,
    subsample=0.8,
    colsample_bytree=0.8,
    scale_pos_weight=3,   # VERY IMPORTANT for imbalance
    random_state=42
)

xgb.fit(X_train, y_train)

y_pred = xgb.predict(X_test)

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.87      0.82        78
           1       0.23      0.14      0.17        22

    accuracy                           0.71       100
   macro avg       0.51      0.50      0.50       100
weighted avg       0.66      0.71      0.68       100

[[68 10]
 [19  3]]

In [43]:


importance = xgb.feature_importances_
names = X_train.columns

feat_imp = pd.DataFrame({
    "feature": names,
    "importance": importance
}).sort_values(by="importance", ascending=False)

feat_imp.head(20)

                       feature  importance
24                  country_DE    0.071898
25                  country_FR    0.043196
19           industry_DevTools    0.035721
32     referral_source_partner    0.033059
27                  country_UK    0.032950
23                  country_CA    0.032828
20             industry_EdTech    0.029381
17      avg_satisfaction_score    0.029153
1                     is_trial    0.029001
12        unique_features_used    0.028866
34               plan_tier_Pro    0.028763
6                  current_arr    0.028608
30     referral_source_organic    0.027547
13                total_errors    0.027446
29       referral_source_event    0.027297
9             auto_renew_count    0.027160
16  avg_first_response_minutes    0.026977
7               total_upgrades    0.026717
10           total_usage_count    0.026638
31       referral_source_other    0.026435

In [44]:
import joblib
joblib.dump(xgb, "churn_model.pkl")

['churn_model.pkl']

In [45]:
import os
import joblib

# 1) Create folder
os.makedirs("models", exist_ok=True)

# 2) Save the trained XGBoost model
joblib.dump(xgb, "models/churn_xgb_model.pkl")

# 3) Save the feature column names (X_train columns)
feature_cols = X_train.columns.tolist()
joblib.dump(feature_cols, "models/churn_feature_columns.pkl")

# 4) Save the categorical columns list (from before get_dummies)
joblib.dump(cat_cols, "models/churn_categorical_columns.pkl")

print("✅ Model and metadata saved.")

✅ Model and metadata saved.

In [48]:
import pandas as pd
import joblib

# Load what we saved
model = joblib.load("models/churn_xgb_model.pkl")
feature_cols = joblib.load("models/churn_feature_columns.pkl")
cat_cols = joblib.load("models/churn_categorical_columns.pkl")

def prepare_features_from_raw(raw_df: pd.DataFrame) -> pd.DataFrame:
    """
    Takes raw customer data (same structure as df_master),
    returns a single encoded row ready for model.
    """
    df_copy = raw_df.copy()

    # Convert bools to int if any
    bool_cols = df_copy.select_dtypes(include=["bool"]).columns
    for col in bool_cols:
        df_copy[col] = df_copy[col].astype(int)

    # One-hot encode categoricals (same as training)
    df_encoded = pd.get_dummies(df_copy, columns=cat_cols, drop_first=True)

    # Align columns with training features (add missing cols with 0)
    df_encoded = df_encoded.reindex(columns=feature_cols, fill_value=0)

    return df_encoded

def predict_churn_for_account(raw_row_df: pd.DataFrame):
    """
    raw_row_df: DataFrame with ONE row (customer),
    same structure as df_master (before we dropped columns for df).
    """
    X_row = prepare_features_from_raw(raw_row_df)
    proba = model.predict_proba(X_row)[0][1]  # probability of churn = class 1
    pred = int(model.predict(X_row)[0])
    return pred, proba

In [49]:
# Take one sample customer row from df_master
sample = df_master.iloc[[0]].copy()

# Make sure it has ALL the columns we expect
# (We don't drop anything here, function will handle encoding)
pred, proba = predict_churn_for_account(sample)

print("Predicted churn flag:", pred)
print("Churn probability   :", proba)

Predicted churn flag: 0
Churn probability   : 0.11498208

In [50]:
pip install fastapi uvicorn

Collecting fastapi
  Downloading fastapi-0.121.2-py3-none-any.whl.metadata (28 kB)
Collecting uvicorn
  Downloading uvicorn-0.38.0-py3-none-any.whl.metadata (6.8 kB)
Collecting starlette<0.50.0,>=0.40.0 (from fastapi)
  Downloading starlette-0.49.3-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 in d:\anaconda\lib\site-packages (from fastapi) (2.5.3)
Requirement already satisfied: typing-extensions>=4.8.0 in d:\anaconda\lib\site-packages (from fastapi) (4.11.0)
Collecting annotated-doc>=0.0.2 (from fastapi)
  Downloading annotated_doc-0.0.4-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: click>=7.0 in d:\anaconda\lib\site-packages (from uvicorn) (8.1.7)
Collecting h11>=0.8 (from uvicorn)
  Using cached h11-0.16.0-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from click>=7.0->uvicorn) (0.4.6)
Requirement already satisfied: annotated-types>=0.4.0 in d:\anaconda\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in d:\anaconda\lib\site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi) (2.14.6)
Requirement already satisfied: anyio<5,>=3.6.2 in d:\anaconda\lib\site-packages (from starlette<0.50.0,>=0.40.0->fastapi) (4.2.0)
Requirement already satisfied: idna>=2.8 in d:\anaconda\lib\site-packages (from anyio<5,>=3.6.2->starlette<0.50.0,>=0.40.0->fastapi) (3.7)
Requirement already satisfied: sniffio>=1.1 in d:\anaconda\lib\site-packages (from anyio<5,>=3.6.2->starlette<0.50.0,>=0.40.0->fastapi) (1.3.0)
Downloading fastapi-0.121.2-py3-none-any.whl (109 kB)
   ---------------------------------------- 0.0/109.2 kB ? eta -:--:--
   --------------------------------- ------ 92.2/109.2 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 109.2/109.2 kB 2.1 MB/s eta 0:00:00
Downloading uvicorn-0.38.0-py3-none-any.whl (68 kB)
   ---------------------------------------- 0.0/68.1 kB ? eta -:--:--
   ---------------------------------------- 68.1/68.1 kB 3.6 MB/s eta 0:00:00
Downloading annotated_doc-0.0.4-py3-none-any.whl (5.3 kB)
Using cached h11-0.16.0-py3-none-any.whl (37 kB)
Downloading starlette-0.49.3-py3-none-any.whl (74 kB)
   ---------------------------------------- 0.0/74.3 kB ? eta -:--:--
   ---------------------------------------- 74.3/74.3 kB 2.1 MB/s eta 0:00:00
Installing collected packages: h11, annotated-doc, uvicorn, starlette, fastapi
Successfully installed annotated-doc-0.0.4 fastapi-0.121.2 h11-0.16.0 starlette-0.49.3 uvicorn-0.38.0
Note: you may need to restart the kernel to use updated packages.

In [51]:
os.listdir("models")

['churn_categorical_columns.pkl',
 'churn_feature_columns.pkl',
 'churn_xgb_model.pkl']

In [52]:
import os
os.getcwd()

'C:\\Users\\ADMIN'